<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Appartoo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <div class="container bootstrap snippet">

    <div class="header width">
      <h3 class="text-muted prj-name">
        <div>
          <span class="fa fa-users fa-2x principal-title"></span>
          Le Réseau Social pour
          <p>Dinosaures</p>
        </div>

        <div class="buttons">
          <a class="btn btn-success btn-xs glyphicon glyphicon-search" title="View"><label>Trouver des Amis</label></a>
          <a class="btn btn-danger  btn-xs glyphicon glyphicon-user" (click)="onClickMyProfile()" title="Delete">
            <label>Profile </label></a>
          <a class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-log-out" (click)="logout()"
            title="Send message"><label>Deconnexion</label>
          </a>
        </div>
      </h3>
    </div>

    <div class="jumbotron list-content">
      <ul class="list-group">
        <li href="#" class="list-group-item title">
          Find New Friends Here !
        </li>
        <i class="fa fa-search"></i>
        <input type="text" class="recherche" [(ngModel)]="loginToSearch" placeholder="Entrez votre recherche ici..."
          (ngModelChange)="onFilterValueChange()">

        <div class="form-w3-agile">
          <h2>Add New User</h2>
          <form (ngSubmit)="Onsubmit()" [formGroup]="addNewUserForm">
            <div class="form-sub-w3">
              <input formControlName="login" type="text" name="Login" placeholder="Login"
                [attr.aria-invalid]="addNewUserForm.controls['login'].invalid && addNewUserForm.controls['login'].touched ? true : null" />
              <div class="icon-w3">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              </div>
            </div>
            <ng-container *ngIf="addNewUserForm.controls['login'].invalid && submitter">
              <p style="color: red" *ngIf="addNewUserForm.controls['login'].errors">
                Veuillez saisir un mot de passe
              </p>
            </ng-container>
            <div class="form-sub-w3">
              <input formControlName="race" type="text" name="Race" placeholder="Race"
                [attr.aria-invalid]="addNewUserForm.controls['race'].invalid && addNewUserForm.controls['race'].touched ? true : null" />
              <div class="icon-w3">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              </div>
            </div>
            <ng-container
              *ngIf="addNewUserForm.controls['race'].invalid && submitter && addNewUserForm.controls['race'].errors">
              <p style="color: red">
                Veuillez saisir votre race
              </p>
            </ng-container>
            <div class="form-sub-w3">
              <input formControlName="famille" type="text" name="Famille" placeholder="Famille"
                [attr.aria-invalid]="addNewUserForm.controls['famille'].invalid && addNewUserForm.controls['famille'].touched ? true : null" />
              <div class="icon-w3">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              </div>
            </div>
            <ng-container *ngIf="addNewUserForm.controls['famille'].invalid && submitter">
              <p style="color: red" *ngIf="addNewUserForm.controls['famille'].errors">
                Veuillez saisir votre famille
              </p>
            </ng-container>
            <div class="form-sub-w3">
              <input formControlName="nourriture" type="text" name="Nourriture" placeholder="Nourriture"
                [attr.aria-invalid]="addNewUserForm.controls['nourriture'].invalid && addNewUserForm.controls['nourriture'].touched ? true : null" />
              <div class="icon-w3">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              </div>
            </div>
            <ng-container *ngIf="addNewUserForm.controls['nourriture'].invalid && submitter">
              <p style="color: red" *ngIf="addNewUserForm.controls['nourriture'].errors">
                Veuillez Choisir votre nourriture
              </p>
            </ng-container>
            <div class="form-sub-w3">
              <input formControlName="age" type="text" name="Age" placeholder="Age"
                [attr.aria-invalid]="addNewUserForm.controls['age'].invalid && addNewUserForm.controls['age'].touched ? true : null" />
              <div class="icon-w3">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              </div>
            </div>
            <ng-container *ngIf="addNewUserForm.controls['age'].invalid && submitter">
              <p style="color: red" *ngIf="addNewUserForm.controls['age'].errors">
                Veuillez saisir votre age
              </p>
            </ng-container>

            <div class="submit-w3l">
              <input type="submit" (click)="addNewUser()" value="Save">
            </div>
          </form>
        </div>
        <br />
        <div *ngIf="temporaryList.length== 0;else results">
          <label> user not found</label>
        </div>

        <ng-template #results>
          <li *ngFor="let dinosaure of temporaryList " class="list-group-item text-left">
            <div>
              <img class="img-thumbnail" src="{{ dinosaure.profileImage}}">
              <label class="name">
                {{dinosaure.login}}<br>
              </label>
            </div>
            <div class="btn-plus">
              <label class="pull-right">
                <a class="btn btn-success btn-xs glyphicon glyphicon-plus" (click)="onClickAddFriend(dinosaure)"
                  title="View"></a>
              </label>
            </div>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>